:root {
  /* Default (Light Theme) Variables */
  --background-color: white;
  --text-color: black;
  --invert-value: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
      --background-color: black;
      --text-color: white;
      --invert-value: 1;
  }
} */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow-y: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}
.slider {
	font-family: sans-serif;
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}
ol{
  list-style-type: none;
}
li {
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
li > img, li > h1	{
	position: absolute;
	top: 50%;
  height: 100vh;
  object-fit: contain;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	left: 0;
	font-size: calc(1rem + 3vw);
}

li:first-of-type>img{
  background: black;
}

li:nth-of-type(n+2)>img{
  filter: invert(var(--invert-value));
}

li:first-of-type::after{
  color: white;
}

li:has(img)::after{
  content: 'Swipe right for more ➡️';
  position: absolute;
  color: black;
  z-index: 2;
  bottom: 10%;
}

@media screen and (min-width: 30em){
  li:has(img)::after{
    right: 1%;
    bottom: 50%;
  }
}